# Database Configuration
DB_NAME=saga_db
DB_USER=user
DB_PASSWORD=password

# Service URLs
PAYMENT_SERVICE_URL=http://payment-service:8081
INVENTORY_SERVICE_URL=http://inventory-service:8082

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DB_NAME}
SPRING_DATASOURCE_USERNAME=${DB_USER}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}